<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forma</title>
</head>
<body>

<form action="/?p=hello">
    <input type="hidden" name="p" value="hello">
    <label>
        Name
        <input type="text" name="name">
    </label>
    {% if vertical %} <br/> {% endif %}
    <label>
        Last name
        <input type="text" name="last_name">
    </label>
    {% if vertical %} <br/> {% endif %}
    <button type="submit">OK</button>

</form>

{% if vertical %}
    <a href="/">Horizontalno</a>
{% else %}
    <a href="/?vertical=1">Verticalno</a>
{% endif %}
</body>
</html>
