<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ name | striptags}} </title>
</head>
<body>

Привет, {{ name | capitalize }} {{ last_name | capitalize}}! Как дела?

</body>
</html>